@font-face {
  font-family: 'SFProRounded';
  src: url('./font/SF-Pro-Rounded-Bold.otf') format('opentype');
  font-weight: bold;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
